<div>
    <h3>Inserir novo remetente</h3>
</div>
<form>
    <div>
        <input type="text" name="nome" placeholder="Nome" pInputText [(ngModel)]="remetente.nome" />
    </div>
    <div>
        <input type="text" name="telefone" placeholder="Telefone" pInputText [(ngModel)]="remetente.telefone" />
    </div>
    <div>
        <input type="text" name="cpf" placeholder="CPF" pInputText [(ngModel)]="remetente.cpf" />
    </div>
    <div>
        <input type="text" name="endereco" placeholder="Endereço" pInputText [(ngModel)]="remetente.endereco" />
    </div>
    <div>
        <input type="email" name="email" placeholder="E-Mail" pInputText [(ngModel)]="remetente.email" />
    </div>
</form>
<br>
<button pButton (click)="inserir()" label="Finalizar Cadastro"></button>