<div>
    <h3>Editar Remetente</h3>
</div>
<form class="example-container" [formGroup]="remetenteForm" (ngSubmit)="atualizarRemetente(remetenteForm.value)" >
    <div>
        <input pInputText type="text" name="nome" placeholder="Nome" formControlName="nome" />
    </div>
    <div>
        <input pInputText type="text" name="telefone" placeholder="Telefone" formControlName="telefone" />
    </div>
    <div>
        <input pInputText type="text" name="cpf" placeholder="CPF" formControlName="cpf" />
    </div>
    <div>
        <input pInputText type="text" name="endereco" placeholder="Endereço" formControlName="endereco" />
    </div>
    <div>
        <input pInputText type="email" name="email" placeholder="E-Mail" formControlName="email" />
    </div>
    <br>
    <button pButton type="submit" [disabled]="!remetenteForm.valid" color="primary" label="Editar" ></button>
</form>