<p-table [value]='dataSource'>
    <ng-template pTemplate='header'>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>CPF</th>
            <th>Endereço</th>
            <th>E-Mail</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-remetente>
        <tr align="center">
            <td>{{remetente.nome}}</td>
            <td>{{remetente.telefone}}</td>
            <td>{{remetente.cpf}}</td>
            <td>{{remetente.endereco}}</td>
            <td>{{remetente.email}}</td>
            <td>
                <button pButton [routerLink]="['editar', remetente.id]" label="Editar"></button><br><br>
                <button pButton class="ui-button-danger" (click)="excluir(remetente.id)" label="Excluir"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
<button pButton routerLink="novo" label="Novo registro"></button>